.card {
    transition: linear 1s;
    transform: scale(0.95);
    border: none;
}

.card > .fa {
    transition: linear 1s;
    transform: scale(2);
}

.card > h2, .card > div {
    transition: linear 1s;
    transform: scale(.8);
    text-align: center;
    visibility: hidden;
}

.card:hover > h2, .card:hover > div {
    transform: scale(1);
    visibility: visible;
}

.card:hover {
    transform: scale(1.1);
    z-index: 999;
}

.card:hover > .fa {
    transform: scale(.6);
}