.is-sticky{
    width: 100%;
    z-index: 999;
}
header > .inner {
  position: absolute;
  top: 25%;
  left: 20%;
  right: 20%;
  text-align: center;
}
#profilpicture > figcaption{
  margin-top: -10%;
  z-index: 999;
}
