.maincontainer{
  padding: 4em 0 8em 0 !important;
  margin: 10em 0 !important;
  box-shadow:
    inset 0px 1em 1em #fff,
    inset 0px -1em 1em #fff;
}
.cards{
  transition: ease-in-out 500;
}
.cards:hover{
  border: solid .2 #000;
  box-shadow: 0 0 1em #ccc inset, 0 0 1em #000;
  transform: rotate(10deg);
}
.cards h3 {
  border-bottom: solid 1px transparent;
}
.cards:hover h3{
  border-bottom: solid 1px #ccc;
}
#contactme input[type="text"],#contactme input[type="email"]{
  border: none;
  border-bottom: solid 0.2em #f00033;
}
#contactme input:focus{
  border: none;
  box-shadow: none;
  border-bottom: solid 0.2em #28a745;
}
