  <div class="container">
    <app-home-services></app-home-services>

    <section class="my-5 wow fadeIn" id="portfolio">
      <div class="row">
        <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
          <h2>{{ 'home.portfolio.title' | translate }}</h2>
          <small class="text-center">{{ 'home.portfolio.slogan' | translate }}</small>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" style="background: #000;" src="" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </div>
    </section>
    <section class="my-5 wow fadeIn" id="aboutme">
      <div class="row">
        <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
          <h2>{{ 'home.aboutme.title' | translate }}</h2>
          <small class="text-center">{{ 'home.aboutme.slogan' | translate }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12 px-4">
          <div class="row" *ngFor="let work of ('home.aboutme.rows' | translate)">
            <div class="col-1 mr-3">
              <i class="fa fa-{{work.icon}} fa-2x indigo-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">{{ work.title }}</h5>
              <p class="grey-text">{{work.text}}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <p class="h5 text-center mb-4">Watch our "5 min Quick Start" tutorial</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cXTThxoywNQ" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5 wow fadeIn bg-grey" id="partners">
      <div class="row">
        <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
          <h2>{{ 'home.partners.title' | translate }}</h2>
          <small class="text-center">{{ 'home.partners.slogan' | translate }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-center p-2" *ngFor="let partner of ('home.partners.images' | translate)">
          <img class="img-thumbnail img-fluid" src="{{ partner.src }}" title="{{ partner.title }}" alt="{{ partner.alt }}">
        </div>
      </div>
    </section>
    <section class="my-5 wow fadeIn" id="contactme">
      <div class="row">
        <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
          <h2>{{ 'home.contact.title' | translate }}</h2>
          <small class="text-center">{{ 'home.contact.slogan' | translate }}</small>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-md-6">
          <div class="form-group">
            <input id="form_name" type="text" name="name" class="form-control" placeholder="{{ 'home.contact.form.name' | translate }} *"
              required="required" data-error="Firstname is required.">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input id="form_email" type="email" name="email" class="form-control" placeholder="{{ 'home.contact.form.email' | translate }} *"
              required="required" data-error="Valid email is required.">
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <textarea id="form_message" name="message" class="form-control" placeholder="{{'home.contact.form.message' | translate}} *" rows="4" required="required"
              data-error="Please,leave us a message."></textarea>
            <div class="help-block with-errors"></div>
          </div>
        </div>
        <div class="col-md-12">
          <input type="submit" class="btn btn-success btn-send" value="{{'home.contact.form.send' | translate}}">
          <span class="text-muted">{{'home.contact.form.required' | translate}}</span>
        </div>
      </div>
    </section>
  </div>
