<div class="jumbotron">
  <h1>Navbar example</h1>
  <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in
      its original position and moves with the rest of the page.</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs</a>
</div>

<div class="container" id="services">
  <div class="row p-3">
      <div class="col-12 mx-sm-auto my-sm-5 my-md-5 my-lg-5 text-center">
          <h2>Title</h2>
          <small class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let tile of tiles">
          <h3 class="text-center">{{tile.title}}</h3>
          <div class="text-justify">{{tile.text}}</div>
      </div>
  </div>
</div>
<div class="container" id="portfolio">
  <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="#!" allowfullscreen></iframe>
      </div>
  </div>
</div>
<div class="container py-md-3" id="partners">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let image of images">
          <img class="img-responsive" src='{{image.src}}' alt='{{image.alt}}' title='{{image.title}}'>
      </div>
  </div>
</div>
<div class="row" id="contactme">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="form_name">Name *</label>
                  <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required"
                      data-error="Firstname is required.">
                  <div class="help-block with-errors"></div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="form_email">Email *</label>
                  <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" required="required"
                      data-error="Valid email is required.">
                  <div class="help-block with-errors"></div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="form-group">
                  <label for="form_message">Message *</label>
                  <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required"
                      data-error="Please,leave us a message."></textarea>
                  <div class="help-block with-errors"></div>
              </div>
          </div>
          <div class="col-md-12">
              <input type="submit" class="btn btn-success btn-send" value="Send message">
          </div>
          <div class="col-md-12">
              <p class="text-muted">
                  <strong>*</strong> These fields are required.
              </p>
          </div>
      </div>
  </div>
</div>
